<div class="row mt-3">
  <div class="col-md-5 align-self-center">
    <h1 class="text-center">Where does it come from</h1>
    <p class="text-justify ml-5 mr-5">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
      of
      classical Latin
      literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
      College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
      going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes
      from sections 1.10.32.</p>
    <div class="col-12 d-flex justify-content-center  mt-3">
      <button type="button" class="btn btn-info">Ver más</button>
    </div>
  </div>
  <div class="col-md-7">
    <div class="row align-self-center card-deck">
      <div class="col-md-12 col-lg-6 col-sm-12 d-flex justify-content-center mt-3 align-items-stretch">
        <div class="card h-100" style="width: 18rem;">
          <img class="card-img-top" src="{{(image1)?image1.message:''}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Where can I get some</h5>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-sm-12 d-flex justify-content-center mt-3 align-items-stretch">
        <div class="card h-100" style="width: 18rem;">
          <img class="card-img-top" src="{{(image2)?image2.message:''}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Where can I get some</h5>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>
