<div class="container-fluid">
  <div class="row mt-3">
    <div class="card-deck col-lg-3 col-md-6 mt-3 col-sm-12"
         *ngFor="let item of allDogs | paginate: { itemsPerPage: 8, currentPage: p }">
      <div class="card text-center">
        <img class="card-img-top img-fluid" src="{{item}}" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer h-100">
          <button class="btn btn-info" (click)="detailClick(item)">ver más</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 mt-4">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>
