.nav-link {
  font-size: x-large;

  //.active {
  //  color: #375089 !important;
  //}
}

.nav li a {
  color: white;

  &.active{
    color: #375089 !important;
  }
}

.nav .nav-link .active li a{
  color: #375089 !important;
}
