<ul class="nav nav-tabs bg-principal-color ">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
  </li>
  <li class=" nav-item">
    <a class="nav-link" routerLink="/todos" routerLinkActive="active">Todos</a>
  </li>
</ul>
<router-outlet></router-outlet>
