.bg-principal-color {
  background-color: rgba(66, 91, 137, 0.71);
}

.btn-info {
  background-color: rgba(66, 91, 137, 0.58)!important;
  border-color: rgba(66, 91, 137, 0.87) !important;
  &:hover{
    background-color: rgba(66, 91, 137, 0.87) !important;
  }
}
